/* Wordpress reset */

$vertical-rhythm: 1.2em !default;
$btn-background: #666 !default;
$btn-color: #fff !default;
/// #main { @extend %clearfix; }
/// #content { float: left; width: 70%; }
/// #sidebar { float: right; width: 25%; }
img {
	max-width: 100%;
	height: auto;
}

.form-control,
input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='url'],
input[type='date'],
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border: 1px solid #999;
	box-shadow: none;
	padding: 9px 10px 11px;
	color: $gray;
	font: 15px/20px $font-family-sans-serif;
	height: 40px;
	// &:hover {
	// }
	&:focus {
		border-color: #333;
		box-shadow: none;
	}
	@include placeholder {
		color: $gray;
	}
}

textarea {
	min-height: 150px;
}

form {
	@include fontsize(14, 20);
}

.widget {
	margin-bottom: 1.2em;
	@extend %clearfix;
	h3 {
		@include fontsize(18, 26);
		letter-spacing: 0;
	}
	ul {
		padding-left: 2em;
	}
	select {
		min-width: 100%;
	}
}

.comment-form {
	label {
		display: block;
		padding-bottom: 4px;
	}
	textarea {
		overflow: auto;
		margin: 0;
		height: 120px;
		min-height: 120px;
	}
	textarea,
	input[type='text'] {
		margin: 0 4px 0 0;
		width: 280px;
	}
	input[type='submit'] {
		display: block;
		float: none;
	}
}

.post-password-form {
	label {
		display: block;
	}
	input[type='password'] {
		margin: 0 4px 0 0;
		width: 280px;
	}
}

.search-form {
	@extend %clearfix;
	input {
		float: left;
		height: 40px;
		&[type='search'] {
			margin: 0 4px 0 0;
			width: 144px;
		}
	}
}

.post-password-form {
	p {
		@extend %clearfix;
	}
	input {
		float: left;
		height: 40px;
		&[type='password'] {
			width: 150px;
		}
	}
}

.comment-form,
.post-password-form,
.search-form {
	input[type='submit'] {
		@include fontsize(14, 40);
		background: $brand-primary;
		color: #fff;
		height: 40px;
		border: none;
		padding: 0 .5em;
		&:hover {
			opacity: 0.8;
		}
	}
}

.commentlist {
	margin: 0 0 1.2em;
	.edit-link {
		margin: 0;
	}
	.avatar-holder {
		float: left;
		margin: 0 1.2em 4px 0;
	}
}

.commentlist-item {
	.commentlist-item {
		padding: 0;
		@include media(">=screen-sm") {
			padding: 0 0 0 2em;
		}
	}
}

.comment,
.commentlist-holder {
	overflow: hidden;
}

.commentlist-item .commentlist-item,
.commentlist-item+.commentlist-item {
	padding-top: 1.2em;
}

.widget_calendar {
	table {
		width: 100%;
	}
	#next {
		text-align: right;
	}
}

.gallery-item {
	dt {
		float: none;
		padding: 0;
	}
}

.navigation,
.navigation-comments {
	position: relative;
	vertical-align: middle;
	margin-bottom: $vertical-rhythm;
	.screen-reader-text {
		position: absolute;
		left: -99999px;
	}
	.page-numbers {
		display: inline-block;
		vertical-align: middle;
		padding: 0 .4em;
		@include media('<screen-sm') {
			padding: 0;
		}
	}
	.next,
	.prev {
		display: inline-block;
		vertical-align: middle;
		max-width: 50%;
		background: $btn-background;
		color: $btn-color;
		padding: .3em .4em;
		text-decoration: none;
		@include media('<screen-sm') {
			padding: .2em;
		}
		&:hover,
		&:focus {
			background: $gray-base;
		}
	}
}

.navigation-single {
	@extend %clearfix;
	margin-bottom: $vertical-rhythm;
	.next,
	.prev {
		float: left;
		vertical-align: middle;
		max-width: 50%;
		background: $btn-background;
		color: $btn-color;
		text-decoration: none;
		a {
			color: inherit;
			text-decoration: none;
			padding: .4em;
			display: block;
			@include media('<screen-sm') {
				padding: .2em;
			}
			&:hover,
			&:focus {
				background: $gray-base;
			}
		}
	}
	.next {
		float: right;
	}
}

.wp-caption {
	max-width: 100%;
	clear: both;
	border: 1px solid #ccc;
	padding: .4em;
	margin-bottom: 1.2em;
	img {
		margin: 0;
		vertical-align: top;
	}
	p {
		margin: .4em 0 0;
	}
}

div.aligncenter {
	margin: 0 auto 1.2em;
}

img.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignleft {
	float: left;
	margin: 0 1.2em 4px 0;
}

.alignright {
	float: right;
	margin: 0 0 4px 1.2em;
}

.mejs-container {
	margin-bottom: 1.2em;
}

.wp-caption-text,
.gallery,
.alignnone,
.gallery-caption,
.sticky,
.bypostauthor {
	height: auto;
}

.comments,
.comment-respond {
	@include fontsize(14, 18);
	@include media('>=screen-md') {
		@include fontsize(16, 20);
	}
}

#sidebar {
	font: 14px/20px $font-family-sans-serif;
	@include media('>=screen-md') {
		@include fontsize(16, 24);
	}
}

table {
	@include fontsize(17, 27);
	@include media('>=screen-md') {
		@include fontsize(18, 32);
	}
	td,
	th {
		padding: 5px 10px;
	}
}
